article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: inherit;
}

h2, .h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0.3rem;
}

p {
  color: #8892a0;
  font-weight: 400;
}

.fdb-block {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 7.5rem 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #FFFFFF;
}

.fdb-block .container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fdb-block .fdb-box {
  background: #FFFFFF;
  padding: 3.75rem 2.5rem;
  overflow: hidden;
  color: #444444;
  border-radius: 0.25rem;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
}

.fdb-block .fdb-touch {
  border-top: solid 0.3125rem #329ef7;
  z-index: 2;
}

.fdb-block img + h1, .fdb-block img + h2 {
  margin-top: 2.5rem;
}

.fdb-block img.fdb-icon {
  width: auto;
  width: 3.75rem;
}

.fdb-block {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 7.5rem 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #FFFFFF;
  /*border-bottom: 1px solid var(--light);*/
  z-index: 2;
}

.fdb-block {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 7.5rem 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #FFFFFF;
}

.fdb-block .fdb-touch {
  border-top: solid 0.3125rem #12242;
  z-index: 2;
}

.fdb-block .fdb-box {
  background: #FFFFFF;
  padding: 3.75rem 2.5rem;
  overflow: hidden;
  color: #444444;
  border-radius: 0.25rem;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
}

.fdb-block img.fdb-icon {
  width: auto;
  width: 3.75rem;
}

.fdb-touch {
  padding: 3.75rem 2.5rem;
}

